@font-face {
    font-family: 'AvenirNext-Book';
    src: local('AvenirNext-Book'), url(./fonts/AvenirLTStd-Book.otf) format('truetype');
  }

  @font-face {
    font-family: 'Avenir-Medium';
    src: local('Avenir-Medium'), url(./fonts/AvenirLTStd-Medium.otf) format('truetype');
  }

  @font-face {
    font-family: 'AvenirNext-Bold';
    src: local('AvenirNext-Bold'), url(./fonts/AvenirNextLTPro-Bold.otf) format('truetype');
  }

  h1{
    
    font: Bold 24px/29px Helvetica Neue;
    letter-spacing: 0;
    color: #393939;
    opacity: 1;
  }
 

  p{
    font-family: Avenir-Roman;
    size: 16px;
}

.head{
    
    text-align: center;
}

.main{
   
    margin: 50px;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    height: 590px;
    width: 702px;
    vertical-align: top;

}

.headder{
    color: #000000;
    opacity: 1;
    font-family: AvenirNext-Bold; 
    font-size: 19px;
    margin: 16px;
    text-align: left;
    letter-spacing: 0.22px;
    
}

.avatar{
    margin-top: 3px;
    margin-left: 10px;
    margin-right: 5px;
    float: left;
}

.username{
    
    font-family: Avenir-Medium;
    font-size: 16px;
    text-align: left;
}

.reviews{
    
    font-family: Avenir-Book;
    font-size: 13px;
    color: #9B9B9B;
    opacity: 1;
    text-align: left;
}


.views{
    float: right;
    margin: 10px;
    font-family: Avenir-Book;
    font-size: 13px;
    color: #9B9B9B;

}


.userdata{
    width: 170px; 
    float:left; 
    
}

.floated{
   
    width: 100px;
    float:right;
    
}

.content{
    
    float: left;
    text-align: left;
    margin: 5px; 
}


.footer{
    float: left;
    
}

.icon{
    margin-top: 10px;
    margin-left: 50px;
}

.floated-next{
    float: left;
}

.phone{
    width: 20px;
    height: 25px;
    margin-left: -37px;
}

.username1{
    
    font-family: Avenir-Medium;
    font-size: 13px;
    text-align: left;
}

.reviews1{
    
    font-family: Avenir-Book;
    font-size: 10px;
    color: #9B9B9B;
    opacity: 1;
    text-align: left;
}



.first{
    
    float:left; 
    
}

.second{
     float:left; 
    
}

.back{
    width: 650px;
    height: 350px;
}